target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/teste_estagio_back/.idea


teste-estagio-front/.angular
teste-estagio-front/.vscode